# dependencies
/node_modules
/.next

# build artifacts and directories
/build
/dist

# local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
/.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swm
*.swn
*.swo
*.bak
/.history

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*